.conteiner {
  max-width: 343px;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: flex-start; */
  justify-content: center;
  border-radius: 30px;
  color: #f0eff4;
  border: 2px solid #ffffff;
}

.background {
  width: 100%;
  height: 353px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  width: 343px;
  background-image: url("../../../images/AdvantagesSection/AdvantagesSection_mobil_1x.webp");
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .background {
    width: 343px;
    height: 446px;
    background-image: url(../../../images/AdvantagesSection/AdvantagesSection_mobil_2x.webp);
  }
}

@media screen and (min-width: 768px) {
  .background {
    width: 704px;
    height: 446px;
    background-image: url("../../../images/AdvantagesSection/AdvantagesSection_tab_1x.webp");
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .background {
      width: 704px;
      background-image: url(../../../images/AdvantagesSection/AdvantagesSection_tab_2x.webp);
    }
  }
}

@media screen and (min-width: 1440px) {
  .background {
    width: 672px;
    height: 736px;
    background-image: url("../../../images/AdvantagesSection/AdvantagesSection_pc_1x.webp");
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .background {
      width: 672px;
      height: 736px;
      background-image: url(../../../images/AdvantagesSection/AdvantagesSection_pc_2x.webp);
    }
  }
}
